@font-face {
    font-family: "ArkhamBold";
    src: url("fontes/arkham/Arkham_bold.TTF") format("truetype");
}
@font-face {
    font-family: "MirageMedium";
    src: url("fontes/made_mirage/MADE\ Mirage\ Medium\ PERSONAL\ USE.otf") format("truetype");
}

body {

    background-image: url("imagens/madeira.jpeg");
    background-position: center;
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;

    width: 1000px;
    margin: 40 auto;
}

.titulo {
    grid-column: 1;
    grid-row: 1;

    width: 500px;

    box-sizing: border-box;

    background-image: url("imagens/fundo_com_flores.jpeg");
    background-size: contain;
    background-repeat: no-repeat;

    padding: 60px;

    font-family: "ArkhamBold", sans-serif;
    filter: drop-shadow(0px 0px 4px black);
}

h1 {
    font-size: 50px;
    padding-left: 6px;

    -webkit-text-stroke: 5px black;
    paint-order: stroke fill; /* Renders the stroke underneath the text fill */
    color: /*rgb(145 115 70); */
    rgb(170, 127, 80);
    text-shadow: 0px 0px 10px black;
}

.description {
    grid-column: 2;

    width: 300px;

    background-image: url("imagens/tag.png");
    background-size: contain;
    background-repeat: no-repeat;

    padding: 10px;

    font-family: "MirageMedium", serif;
    filter: drop-shadow(0px 0px 4px black);
}

p{
    font-size: 15px;
    padding: 13px;
    padding-left: 90px;

    color: black;
}

.ferramentas {
    grid-column: 1;
    grid-row: 2;

    width: 500px;
    

    background-image: url("imagens/label_preta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    padding: 60px;

    filter: drop-shadow(0px 0px 4px black);
}

h2 {
    font-family: "ArkhamBold", sans-serif;
    font-size: 21px;
    color: rgb(92, 17, 10);

    padding-top: 20px;
    padding-right: 17px;
    padding-bottom: 0;
    text-align: center;
}

.lista-ferramentas{
    font-family: "MirageMedium", serif;
    color: black;
    font-size: 15px;

    text-align: center;
    padding-right: 105px;
    padding-top: 0px;
}

a {
    font-family: "MirageMedium", serif;
    color: black;
    text-decoration: none;
    font-size: 15px;

    transition: 0.2s;
}

a:hover {
    font-family: "MirageMedium", serif;
    color: rgb(170, 127, 80);
    transform: translateX(5px);
}

.colagens {
    width: 1000px;
    margin: 50px auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.galeria-section {
    margin: 70px auto;
}

.galeria-controles {
    width: 250px;
    height: 150px;

    background-image: url("imagens/label_azul.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    gap: 9px;

    justify-content: center;
    align-items: center;
}
.galeria-controles h2 {
    font-family: "ArkhamBold", sans-serif;
    font-size: 21px;
    color: black;

    margin: 0;
    padding: 0px;

    text-align: center;
}

.galeria-controles select,
.galeria-controles input {
    font-family: "MirageMedium", serif;
    font-size: 16px;

    margin: 0;

    border: 0px;
    background-color: rgba(224, 220, 200, 0.324);

    outline: none;
}
.galeria-controles select {
    max-width: 150px;
    cursor: pointer;
}
.galeria-controles input {
    text-align: center;
    max-width: 250px;
}

.colagens {
    display: grid;

    grid-template-columns:repeat(4, 1fr);

    gap: 20px;
}

.colagem {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px black);
    transition: 0.2s;
}

.colagem:hover {
    transform: translateY(-5px);
}

.colagem img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.paginacao {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 20px;
    margin-top: 35px;
}

.paginacao button {
    font-family: "MirageMedium", serif;

    font-size: 20px;

    width: 40px;
    height: 40px;

    border: 2px solid black;

    background-color: rgba(255, 255, 255, 0.8);

    cursor: pointer;
}

.paginacao button:hover {
    background-color: rgb(170, 127, 80);
    color: white;
}

.paginacao button:disabled {
    opacity: 0.3;
    cursor: default;
}

#pagina-atual {
    font-family: "ArkhamBold", sans-serif;
    font-size: 18px;
}